
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   
  }
.para{
    background-color:aliceblue;
    padding:240px;
    font-size:28px;
    text-align: left;
}  
.for{
    background-color:#a7beae;
    padding:240px;
}
.header{
    background-color: aliceblue;
    color: cadetblue;
    font-size: 50px;
    padding: 238px;
    text-align:right;
    background-image: url('images.jpeg');
    /*background-size: cover;*/
  
}